$teal1 :#0E7D6D;
$teal2 :#114246;
$teal3 :#03202B;
$teal4 :#01121C;
$orange :#F45719;
$bluedark :#010C1E;
$tealRadiant :linear-gradient(to top,#000, #114246);

$grey :  #7f8082b7;
$whiteGray : #a5b2c7;
$bluedark2 :#172e51d2;
$gray2 :  #7676764c;
