$blueDark: #010C1E;
$teal1:#0E7D6D;
$teal2: #114246;
$teal3: #03202B;
$tealRadiant:linear-gradient(to top,#000, #114246);

.ligne-vertical{
    position: fixed;
    background-color:$blueDark;
    width:40px;
    height:100vh;
    left:0;
    top:0;
    border-right:1px solid white;
}
.section1{
    height: 90vh;
    background-color:$blueDark;
    padding-left:40px;

    .content-section1{
        height: 100%;
        position: relative;
        display: grid;
        grid-template-columns: 65% 35%;

        .content-left{
            background: $blueDark;
            padding:25px 50px;
            display:flex;
            align-items:center;

            .block-span{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                line-height: 1;
            }
            span{
                color:#fff;
                font-weight: bolder;
                font-size: 70px;
            }
            h6{
                margin-top: 20px;
                color: #fff;
            }
            button{
                 background: $tealRadiant;
                border-radius: 20px;
                 padding: 5px;
                width: 30%;
                font-weight: bold;
                color: #fff;
                transition: transform 1s;
                cursor: pointer;
                margin-top:10px;

                &:hover{
               background: $teal1;
               transform: translateY(-5px) !important;
               box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                }
            }
        
        }
        .content-right{
            display: flex;
            align-items: center;
            height: 100%;
            padding: 50px;
        }
    }
}